ST_AUTH_URI=https://xxx.aws.supertokens.io
ST_AUTH_API_KEY=xxxx
APP_NAME=My App
API_DOMAIN=http://localhost:8080
PORT=8080
WEBSITE_DOMAIN=http://localhost:5173
MODE=development
AUTH_DEBUG=

DB_FILE_PATH=sqlite_db_file_path.db

